/* Global styling */
* {
  box-sizing: border-box;
}
/* Body Styling */
body {
  margin: 0;
  /* background: linear-gradient(180deg, rgb(84, 179, 214) 0%, rgb(217, 231, 233) 100%); */
  background: linear-gradient(rgb(82, 179, 214), rgb(217, 231, 233));
  width: 100vw;
  min-height: 100vh;;
}

/* Start of header */
.header {
  background-color: #0168a0;
  color: black;
  text-align: center;
  font-family: Spartan;
  border: 4px solid #0168a0;
  margin-bottom: 20px;
}

.headerH1 {
  background-color: #0168a0;
  color: white;
}
/* End of header*/
/* Start of left column */
.content {
  display: flex;
}

.searchByCity {
  flex: 15%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
  font-family: Spartan;
  font-size: 15px;
}

#searchInput {
  background-color: #0168a0;
  height: 30px;
  color:white;
  margin-bottom: 20px;
  border-radius: 8px;
  font-family: Quicksand;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchBtn {
  border-radius: 8px;
  font-size: 18px;
  color: black;
  background-color: white;
  font-family: Quicksand;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

button {
  border-radius: 8px;
  font-size: 18px;
  color: black;
  background-color: rgb(214, 214, 214);
  font-family: Quicksand;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  text-align: center;
}

#searchBtn:hover, button:hover {
  background-color: rgb(233, 233, 233);
}

hr.lineBreak {
margin-top: 20px;
border-top: 2px solid black;
width: 100%;
}

.resultsBox {
  flex: 85%;
}
/* End of left column */
/* Start of Current Weather */
.cityResults {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-right: 20px;
  color: black;
  background-color: white;
  font-family:Quicksand;
}

.inlineResults {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 15px;
}

#iconImg {
  height: 50px;
  width: 50px;
  display: none;
}

.displayBox {
  margin-left: 15px;
  padding-bottom: 20px;
  
}

#uv {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  color: white;
}
.purple {
  background: #886ba7;
}
.red {
  background: #cf4522;
}
.orange {
  background: #e07d32;
}
.yellow {
  background: #f0bf38;
}
.green {
  background: #209e50;
}

#hideUv {
  display: none;
}
/* End of Current Weather */
/* Start of Future Weather */
.futureHeading {
  color: white;
  font-family: Spartan;
  font-size: 26px;
}

.futureForecast {
  color: black;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}


#weatherContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 85%;
}

.futureIcon {
  height: 80px;
  width: 80px;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: white;
  font-family: Quicksand;
  padding: 10px;
}

.weather {
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
/* End of Future Weather */